.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 350px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

select, option, button {
    color: #000;
}